{% extends 'base.html' %}
{% load static %}

{% block title %}{{ profile.user.username }}{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% include 'mini_nav.html' %}
{% csrf_token %}


            <div class="post-detail rounded shadow bottom-margin">

                    <div class="card" >
                        <h6 class="card-group">Profile Picture: 
                            <div class="img-container">
                                <img class="user-img" 
                                src="{{ user.profile.img.url }}"
                                alt="default_image">
                            </div>
                        </h6>

                        <h6 class="card-group"> 
                            <p>username:</p> 
                            <p class="profile-p">{{ profile.user.username }}</p>
                        </h6>

                        <h6 class="card-group"> 
                            <p>hodl:</p>  
                            <p class="profile-p">{{ profile.hodl }}</p>
                        </h6>

                        <h6 class="card-group">
                            <p>About:</p>
                            <p class="about-p">{{ profile.about }}</p>
                        </h6> 
                            
                    </div>
                        <a class="btn btn-light comment-btn" style="width:auto; margin: 3px auto;" href="{% url 'profile_update' profile.id %}">Edit Profile</a>
                        <a class="btn btn-light comment-btn" href="{% url 'password_change' %}">Change Password</a>

            </div>




    {% endblock content %}