{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
<link rel="stylesheet" href="{% static 'css/post_UpdateView.css' %}">
{% include 'mini_nav.html' %}
<div class="container post">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p><label for="id_hodl">Hodl:</label> 
        </br>
        <input type="text" name="hodl" maxlength="200" value="{{ profile.hodl }}" id="id_hodl" style="width:100%;"></p>
        <p><label for="id_about">About:</label> <textarea name="about" cols="40" rows="10" id="id_about" style="width:100%;">{{ profile.about }}</textarea></p>
        <p><label for="id_img">Img:</label> 
        {% if profile.img == ".png" %}
        
        {% else %}
        <a href="/media/{{ profile.img }}">
            <img src="/media/{{ profile.img }}" alt="profile image" />
            </a>

        {% endif %}
        </br>
        Change:
        <input type="file" name="img" accept="image/*" id="id_img"></p>

        <button class="btn btn-light" type="submit" >Update profile</button>

    </form>

</div>
{% endblock content %}