{% extends 'base.html' %}

{% block title %}{{ profile.user.username }}{% endblock title %}
{% block content %}

{% include 'mini_nav.html' %}
{% csrf_token %}
<div class="d-flex justify-content-center">
    <div class="post-detail rounded shadow">
        <div class="d-flex justify-content-center">
            <div class="post-detail rounded shadow">
                <div class="container">
                    <div class="card" >
                            <h6 class="card-group">username: </h6>{{ profile.user.username }}
                            <div>
                                <h6 class="card-group"> hodl:  </h6>
                            </div>
                            {{ profile.hodl }}
                            <h6 class="card-group">About: </h6>{{ profile.about }}
                            <h6 class="card-group">Profile image:  </h6>
                            <img src="/media/{{ profile.img }}" alt="profile image" />
                            
                        </div>
                        <a class="btn btn-light comment-btn" style="width:auto; margin: 3px auto;" href="{% url 'profile_update' profile.id %}">edit profile</a>
                        <a class="btn btn-light comment-btn" href="{% url 'password_change' %}">change password</a>
                </div>
            </div>
        </div> <!-- display flex-->


    </div>
</div> <!-- display flex-->
    {% endblock content %}