{% extends 'base.html' %}

{% load static %}
{% load poll_extras %}

{% block cssstyle %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock cssstyle %}

{% block title %}Password Change{% endblock title %}



{% block content %}
<div class="position-relative">
    <div class="position-absolute top-100 start-50 translate-middle-x" style="margin-top:10rem; padding-bottom: 5rem;">
        <div class="bg-light p-5 rounded mt-10 shadow">

            <h2>Password Change</h2>
            <p>Please enter your old password.
            <br /> Then enter your new password twice and type it in correctly.</p>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                
                {% if field.label == 'Old password' %}
                    {% if invalid == "password" %}
                        {{ field.label_tag }} <i class="fas fa-exclamation-triangle invalid-login-label"></i>
                        <div class="password-toggle">
                            {{ field|placeholder:field.label }}
                            <i class="far fa-eye-slash password-toggle" id="togglePassword"></i>
                        </div >
                        <label class="invalid-login-label">Invalid Old Password. Try again.</label>
                        <br>
                        <br>
                    {% else %}
                        {{ field.label_tag }}
                        <div class="password-toggle">
                            {{ field|placeholder:field.label }}
                            <i class="far fa-eye-slash password-toggle" id="togglePassword"></i>
                        </div >
                        <br>
                    {% endif %}
                {% elif field.label == "New password" %}
                <div class="password-toggle">
                    {{ field|placeholder:field.label }}
                    <i class="far fa-eye-slash password-toggle" id="togglePassword2"></i>
                </div >
                
                {% elif field.label == "New password confirmation" %}
                <div class="password-toggle">
                    {{ field|placeholder:field.label }}
                    <i class="far fa-eye-slash password-toggle" id="togglePassword3"></i>
                </div >
                
                {% else %}
                {{ field|placeholder:field.label }}
                {% endif %}

                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
                {% endfor %}
                <br>
                <input class="btn btn-primary" type="submit" style="width: 100%;" value="Change my password">
            </form>
        </div>
    </div>
</div>
<script language="JavaScript" type="text/javascript" src="{% static 'js/change_password.js' %}"></script>
{% endblock content %}
