{% extends 'base.html' %}
{% load static %}
{% load poll_extras %}

{% block cssstyle %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock cssstyle %}

{% block title %}Sign Up{% endblock title %}

{% block content %}

<div class="position-relative">

        <div class="bg-light p-4 rounded mb-5 mt-3 shadow signup-container">
            <h2 class="text-center">Sign Up</h2>
            <hr/>
            <br>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                
                {% if field.label == "Username" %}
                    {% if invalid_user == "username" %}      

                            <div>
                                {{ field.label_tag }}<i class="fas fa-exclamation-triangle invalid-login-label"></i>
                            </div>
                                {{ field|placeholder:username }}
                                <label class="invalid-login-label">Username already exist</label>
                    {% else %}
                            {{ field.label_tag }}
                            {{ field|placeholder:field.label }}
                    {% endif %}
                {% endif %}

                {% if field.label == "Email" %}
                    {% if invalid_email == "email" %}      

                            <div>
                                {{ field.label_tag }}<i class="fas fa-exclamation-triangle invalid-login-label"></i>
                            </div>
                                {{ field|placeholder:email }}
                                <label class="invalid-login-label">Email already used</label>
                    {% else %}
                            {{ field.label_tag }}
                            {{ field|placeholder:field.label}}
                    {% endif %}
                {% endif %}
                
                {% if field.label == 'Password' %}
                    {{ field.label_tag }}
                    <div class="password-toggle">
                        {{ field|placeholder:field.label }}
                        <i class="far fa-eye-slash password-toggle" id="togglePassword"></i>
                    </div >
                {% elif field.label == "Password confirmation" %}
                    {{ field.label_tag }}
                    <div class="password-toggle">
                        {{ field|placeholder:field.label }}
                        <i class="far fa-eye-slash password-toggle" id="togglePassword2"></i>
                    </div >
                
                {% endif %}

                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
                {% endfor %}

                <div class="d-grip gap-2" >
                    <button class="btn btn-primary" type="submit" style="width: 100%;">Sign Up</button>
                </div>
            </form>
        </div>

</div>
<script language="JavaScript" type="text/javascript" src="{% static 'js/signup.js' %}"></script>
{% endblock content %}