
/* Hides navbar that is made for smaller screens */
@media only screen and (min-width: 767px){
    #mobile-navbar{
        display: none!important;
    }
}
/* Hides navbar that is made for larger screens */
@media only screen and (max-width: 767px){
    #big-navbar{
        display: none;
    }
}
/* Utilities */
.text-dec-none{
    text-decoration: none!important;
}
/* BASE HTML */
body{
    background-color: #030303;
}
.navbar-collapse{
    display: flex;
    justify-content: flex-end;
}
.search-bar{
    display: flex;
    flex: 1;
    
}
/* HOME HTML */
.btn-group{
    width: 100vw;
}
.btn-group>.btn:nth-child(2){
    border-left: 2px solid white; 
    border-right: 3px solid white; 
}
.btn-group .btn{
    border-radius: 0;
}
.btn-container{
    display: flex;
    justify-content: center;
    margin-top: 0%;
}
.card{
    background-color: rgb(26, 26, 27);
    color: white;
    margin-top: 5%;
    border: 1px solid #ffffff45;
}
.vote-text{
    margin: 0 5%;
}
.comment-text{
    margin-left: 5%;
}
.post-footer{
    justify-content: space-between;
    align-items: flex-end;
}
a i{
    color: white;
    font-size: 1.4rem;
}
.arrow-up:hover{
    color: rgb(0, 153, 255);
}
.arrow-down:hover{
    color: rgb(252, 70, 70);
}
.comment-btn{
    align-items: center;
}