
/* Hides navbar/btn-group that is made for smaller screens */
@media only screen and (min-width: 767px){
    #mobile-navbar{
        display: none!important;
    }
    #sm-btn-container{
        display: none!important;
    }
}
/* Hides navbar/btn-group that is made for larger screens */
@media only screen and (max-width: 767px){
    #big-navbar{
        display: none;
    }
    #lg-btn-container{
        display: none!important;
    }
}
/* Hides column set up for laptop/desktop displays */
@media only screen and (max-width: 1023px){
    .col-3{
        display: none;
    }
    .col-2{
        display:none;
    }
    .col-6{
        width: 100%;
    }
}
/* Utilities */
.bottom-margin{
    margin-bottom: 4rem!important;
}
.form-bottom-margin{
    margin-bottom: 5rem!important;
}
@media(min-width:1024px){
    .form-bottom-margin{
        width: 50%;
    }
}
@media(min-width:768px){
    .delete-container{
        width: 75%;
        margin: 0 auto;
    }
}
@media(min-width:1024px){
    .delete-container{
        width:50%;
    }
}
    
a{
    text-decoration: none!important;
}
.hide{
    display: none;
}
/* BASE HTML */
body{
    background-color: #030303;
    background-image: url("../images/stars-1654074.jpg");
    background-repeat:repeat;
    background-size: contain;
    min-height: 100vh;
}
#myVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}
.navbar-collapse{
    display: flex;
    justify-content: flex-end;
}
.search-bar{
    display: flex;
    margin: 0 auto;
    width: 75%;
}
.search-container{
    flex:1;
}
.create-post{
    color: white;
}
.fa-plus{
    padding: 0 .5rem;
}
.user {
    margin-left: 4%;
    width: 10%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.inbox-label{
    display: inline-block;
}
.post-detail-link{
    text-decoration: none!important;
    color: aliceblue;
}
.post-detail-link:hover{
    color: rgb(179, 182, 182);
}
@media(min-width:768px){
    .user{
        width: 45px;
        margin-left: 2%;
        margin-right: 10px;
    }
}
.user-img{
    border: 1px solid #444444;
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.dropdown-menu[data-bs-popper]{
    right: 0;
    left: -105px;
}
.dropdown-menu{
    min-width: 100%!important;
}
.dropdown-toggle::after{
    content: none!important;
}
.fa-angle-down{
    font-size: 12px;
    position: absolute;
    bottom: 0;
    color: white;
}
/* HOME & POST_LIKES HTML */
.post-filter{
    width: fit-content;
}
.container{
    padding-left: 0;
    padding-right: 0;
}
@media(min-width:768px){
    .container{
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
    }
    .row{
        margin: 0;
    }
}
.btn-group{
    width: 100vw;
}
@media(min-width:768px){
    .btn-group{
        margin-top: 5%;
    }
}
.btn-group>.btn:nth-child(2){
    border-left: 2px solid white; 
    border-right: 3px solid white; 
}
.btn-group .btn{
    border-radius: 0;
}
.btn-container{
    display: flex;
    justify-content: center;
    margin-top: 0%;
}
.card{
    background-color: rgb(26, 26, 27);
    color: white;
    margin: 5% 0;
    border: 1px solid #ffffff45;
}
.vote-text{
    margin: 0 5%;
}
.comment-text{
    margin-left: 5%;
}
.post-footer{
    justify-content: space-between;
    align-items: baseline;
    margin-top: 2.5%;
}
.row{
    align-items: baseline;
}
@media(max-width:768px){
    .row{
    --bs-gutter-x: 0;
    } 
}
.col-6{
    flex: 1 auto;
}
.group-img{
    width: 24px;
}
.list-group-item{
    background-color: rgb(26, 26, 27);
    color: rgba(255, 255, 255, 0.794);
    border: 1px solid #ffffff45;
}
.list-group-item:first-of-type{
    text-align: center;
    background-image: url("../images/cosmos-5809271_640.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.274);
    height: 50px;
    color: white;
    
}
.list-group-item a{
    text-decoration: none;
    color: whitesmoke;
}
.list-group-item a:hover{
    color: rgb(218, 215, 212);
}
a i{
    color: white;
    font-size: 1.4rem;
}

.comment-btn{
    align-items: center;
}
/* POST_DETAIL HTML */
.dropdown-toggle-btn{
    white-space: nowrap;
    background-color: transparent;
    color: white;
    border: none;
    padding: .2rem .8rem;
}
.dropdown-toggle-btn:hover{
    background-color: rgba(255, 255, 255, 0.301);
    border-radius: 50%;
}
.dropdown-toggle-btn:focus{
    background-color: rgba(255, 255, 255, 0.322);
    border-radius: 50%;
}
.text-container p{
    text-align: left;
}
.post-detail{
    background-color: rgb(26, 26, 27);
    color: white;
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}
.font-weight-bold{
    color:#c1c1c1;
}
.thumbs-up{
    display: flex;
    padding: 0!important;
    border: none;
    background-color: transparent;

}
.not-clicked{
    color: white!important;
    font-size: 1.5rem;
}
.fa-arrow-down.not-clicked:hover{
    color: #E04036;
}
.fa-arrow-up.not-clicked:hover{
    color: #00DB86;
}
.liked{
    color: #00DB86;
    font-size: 1.5rem;
}
.disliked{
    color: #E04036;
    font-size: 1.5rem;
}
.count{
    color: white;
    margin:  0 .25rem;
}
.like-container{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
.comments{
    display: flex;
    justify-content: space-between;
    background-color: rgb(37, 37, 37);
    text-align: left;
    padding: .5rem;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;
    box-shadow: 2px 2px 15px rgb(141, 141, 141);
}
.comment-dropdown{
    font-size: 13px;
}
.comment-option{
    width: max-content;
}

li>.comment-btn:last-of-type{
    margin-bottom: 0;
}
.center-col{
    flex: 10;
}
.comment-btn:hover{
    background-color: black;
    color: white;
}
.inbox-text{
    padding: 0 .5rem ;
}
.inbox-detail{
    width: 100%;
    margin: 0 auto;
}
@media(min-width:768px){
    .inbox-detail{
        width: 75%;

    }
}
@media(min-width:1024px){
    .inbox-detail{
        width: 55%;
    }
}
/* Bottom_Nav.html */
/* Hides navbar/btn-group that is made for larger screens */
@media only screen and (min-width: 767px){
    #bottom-nav-mobile{
        display: none;
    }
}
.mobile-bottom-margin{
    margin-bottom: 3rem;
}
.navbar{
    max-width: 100vw;
}
.navbar-nav{
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}