.search-image{
    height: 300px;
    width: 300px;
    margin-left: auto;
    order: 2;
}
.search-container{ 
    width: auto;
    /* display: flex; */
    /* justify-content: space-between; */
} 
.search-container-footer{
    padding: 0 16px 16px 16px;
}