{% extends 'base.html' %}

{% block title %}{{ community.name }}{% endblock title %}
{% block content %}
<!-- btn container for screens smaller than 768px -->
<div class="btn-container" id="sm-btn-container">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-dark btn-spacing">Home</button>
        <button type="button" class="btn btn-dark btn-spacing">Trending</button>
        <a class="btn btn-dark btn-spacing" href="{% url 'community_create' %}">Create
            Community</a>
    </div>
</div>
<!-- btn container for screens bigger than 768px -->
<div class="container col-6">
    <div class="btn-container" id="lg-btn-container">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-dark btn-spacing" href="{% url 'home' %}">Home</a>
            <button type="button" class="btn btn-dark btn-spacing">Trending</button>
            <a class="btn btn-dark btn-spacing"
            href="{% url 'community_list' %}">Communities</a>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="post-detail rounded shadow">
        
        {% if user == community.author %}
        <h2><a class="post-detail-link card-group" href="{% url 'community_update' community.pk %}">{{ community.name }}</a></h2>
        {% else %}
        <h2 class="card-group"> {{ community.name }}</h2>
        {% endif %}
        <img src="{{ post.image.url }}" alt="" style="width: 80%">
        <p class="title-case card-title card-group" style="padding-left: 32px;">{{ community.topic }}</p>
        <p class="text-container">{{ post.body }}</p>
        <div style="justify-content: space-between;">
            {% if user.is_authenticated %}
            {% if user == community.author %}
            <a class="btn btn-outline-light" href="{% url 'community_delete' community.pk %}"><i class="fas fa-trash-alt"></i> Community</a>
            {% endif %}
            {% if follow == "True" %}
                <a class="btn btn-outline-light" href="{% url 'follow_community' community.pk community.name %}" ><i class="fas fa-wifi" style="transform:rotate(45deg); position: relative; margin-bottom: 0px; bottom: -3px; left: -5px;"></i> Unfollow</a>
            {% else %}
                <a class="btn btn-outline-light" href="{% url 'follow_community' community.pk community.name %}" ><i class="fas fa-wifi" style="transform:rotate(45deg); position: relative; margin-bottom: 0px; bottom: -3px; left: -5px;"></i> Follow</a>
            {% endif %}
            <a class="btn btn-outline-light" href="{% url 'post_create'%}" ><i class="far fa-sticky-note"></i> Add Post</a>
            {% else %}
            <p>To post a comment you must be signed in.</p>
            <a class="btn btn-light mb-2" href="{% url 'signup' %}">Sign Up Here</a>
            {% endif %}
        </div>
        <div class="car-footer">


            <br>
            {% for post in community.posts.all reversed %}
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <a class="post-detail-link" href="{% url 'post_detail' post.pk %}">
                        <h6 class="card-group"> By: {{ post.author }} | {{ post.date }}</h6>
                        <h4 class="card-title">{{ post.title }}</h4>
                        <p class="card-text">{{ post.body|safe|truncatechars:140 }}</p>
                    </a>
                    <img src="{{ post.image.url }}" alt="" style="width: 100%">

                    <div class="post-footer d-flex" style="padding-top: 16px; float:right;">  
                        <div class="comments-container">
                            {% if user.is_authenticated %}
                            <a href="{% url 'add_comment' post.pk %}" class="btn btn-outline-light d-flex comment-btn">
                              <i class="far fa-comment-alt"></i>
                            </a>
                          {% else %}
                            <a href="{% url  'login'  %}" class="btn btn-outline-light d-flex comment-btn">
                              <i class="far fa-comment-alt"></i>
                            </a>
                          {% endif %}
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}


        </div>
    </div> <!-- display flex-->
    {% endblock content %}