{% extends 'base.html' %}
{% load static %}

{% block title %}Community{% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
{% include 'community/community_mini_nav.html' %}

<div class="container bottom-margin">
    {% for community in object_list %}
    <div class="card" style="width: 100%;">
        <div class="card-body">
            <a class="post-detail-link" href="{% url 'community_detail' community.pk %}">
                <h6 class="card-group">TMT/{{ community.name }} </h6>
                <h4 class="card-title">{{ community.topic }}</h4>
                <p class="card-text">{{ community.description|safe|truncatechars:140 }}</p>
            </a>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% include 'side_bar_community_component.html' with communities=communities %}
</div>
</div>
{% endblock content %}