{% extends 'base.html' %}
{% load static %}

{% block title %}Sent{% endblock title %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
            <div class="container">
                {% include 'inbox/mini_nav_inbox_component.html' %}
                <div class="container">
                    {% for mail in object_list %}
                    <div class="card" style="width: 100%;">

                        <div class="card-body">
                            <!-- <a class="post-detail-link" href=" url 'mail_detail' mail.pk "> -->
                            <a class="post-detail-link" href="{% url 'inbox_detail' mail.pk %}">
                                <div style="display:flex;">
                                    <h6 class="card-group"> to: {{ mail.receiver }} </h6>
                                    <h7 class="card-title" style="margin-left:auto;">{{ mail.timestamp }}</h7>
                                </div>
                                <h6 class="card-group"> {{ mail.subject }} </h6>
                                <p class="card-text">{{ mail.message|safe|truncatechars:140 }}</p>
                            </a>
                            <a class="btn btn-sm btn-primary" href="/inbox/create/">Reply</a>
                            <a href="{% url 'message_delete' mail.pk %}" class="btn btn-sm btn-dark">Delete message</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% include 'side_bar_community_component.html' with communities=communities %}
    </div>
</div>
{% endblock content %}