{% extends 'base.html' %}
{% load static %}


{% block title %}Inbox{% endblock title %}

{% block content %}


<div class="container bottom-margin">

    <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
            {% include 'inbox/mini_nav_inbox_component.html' %}

            <div class="container">
                {% for mail in object_list %}
                {% if mail.unread == True %}
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <a class="post-detail-link" href="{% url 'inbox_detail' mail.pk %}"
                            style="color: rgb(177,156,217);">
                            <div style="display:flex;">
                                <h6 class="card-group"> from: {{ mail.sender }} </h6>
                                <h7 class="card-title" style="margin-left:auto;">{{ mail.timestamp }}</h7>
                            </div>
                            <h6 class="card-group"> {{ mail.subject }} </h6>
                            <p class="card-text">{{ mail.message|safe|truncatechars:140 }}</p>
                        </a>
                    </div>
                </div>
                {% else %}
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <a class="post-detail-link" href="{% url 'inbox_detail' mail.pk %}"
                            style="color: rgb(179, 182, 182);">
                            <div style="display:flex;">
                                <h6 class="card-group"> from: {{ mail.sender }} </h6>
                                <h7 class="card-title" style="margin-left:auto;">{{ mail.timestamp }}</h7>
                            </div>
                            <h6 class="card-group"> {{ mail.subject }} </h6>
                            <p class="card-text">{{ mail.message|safe|truncatechars:140 }}</p>
                        </a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% include 'side_bar_community_component.html' with communities=communities %}
    </div>
</div>
{% endblock content %}