{% extends 'base.html' %}
{% load static %}

{% block title %}Create Message{% endblock title %}

{% block content %}
{% include 'bottom_nav.html' %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
<link rel="stylesheet" href="{% static 'css/post_create.css' %}">
{% include 'mini_nav.html' %}

<div class="container post">

    <h1 class="border-bottom-utl">Create a Message</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div style="display:flex;">
            <label for="id_sender">To: </label><span style="width: 15px;"></span> {{ form.receiver }}
        </div>
        {{ form.subject.label_tag }}
        {{ form.subject }}
        {{ form.message.label_tag }}
        {{ form.message }}
        
        <button class="btn btn-light" type="submit">send</button>
    </form>
</div>
{% endblock content %}