{% extends 'base.html' %}
{% block title %}Delete Message{% endblock title %}

{% block content %}
{% include 'bottom_nav.html' %}
<div class="bg-light p-5 rounded mt-5">
    <h1  class="border-bottom-utl">Delete Message</h1>
    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ inboxmessage.subject }}" ?</p>
        <button  class="btn btn-danger mt-3" type="submit" >Confirm</button>
        <a class="text-light btn btn-primary mt-3 ms-3" href="{% url 'inbox_list' %}">Back</a>
    </form>
</div>
{% endblock content %}