{% extends 'base.html' %}
{% load poll_extras %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
<link rel="stylesheet" href="{% static 'css/post_create.css' %}">
<div class="d-flex justify-content-center">
<div class="container post comment-container form-bottom-margin">

    <h1 class="border-bottom-utl">Add comment</h1>
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
                
        {% endfor %}

        <button class="btn btn-light" type="submit">Comment</button>
    </form>
</div>
</div>
{% endblock content %}