{% extends 'base.html' %}
{% load poll_extras %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
<link rel="stylesheet" href="{% static 'css/post_create.css' %}">
{% include 'bottom_nav.html' %}
<div class="container post">

    <h1 class="border-bottom-utl">New Post</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            {{ field.errors }}
            {% if field.label == "Image" %}
                <label for="{{ form.image.id_for_label }}">Image (optional):</label>
                {{ field }}

            {% elif field.label != "Image" %}
                {{ field.label_tag }} {{ field }}
                
            {% endif %}

        {% endfor %}
        
        <button class="btn btn-light" type="submit">Create</button>
    </form>
</div>
{% endblock content %}
