{% extends 'base.html' %}
{% load static %}


{% block title %}Trending{% endblock title %}

{% block content %}

<div class="container bottom-margin">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
            {% include 'mini_nav.html' %}
            {% include 'post_component.html' with object_list=object_list %}
        </div>
        {% include 'side_bar_community_component.html' with communities=communities %}
    </div>
</div>

<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.js' %}"></script>
<script src="{% static 'js/load_infinite.js' %}"></script>
<script src="{% static 'js/like_handler.js' %}"></script>
<script src="{% static 'js/dislike_handler.js' %}"></script>
{% endblock content %}